In [1]:
import sys
import recsys.algorithm
import recsys.algorithm.factorize as SVD
from recsys.algorithm.factorize import SVD
from recsys.datamodel.data import Data
from recsys.evaluation.prediction import RMSE, MAE
import pandas as pd
recsys.algorithm.VERBOSE = True

In [5]:
#data = Data()
data = pd.read_csv('/home/nadine/Desktop/Hubert/Memoir/data/data/data.csv')
#data.load('/home/nadine/Desktop/Hubert/Memoir/data/udata', 'rb')

In [6]:
from sklearn.cross_validation import train_test_split
train_data, test_data = train_test_split(data,test_size=0.25, random_state=0)

In [8]:
data

        UserId  JobId  Rating
0         1513     30       2
1          531    134       5
2          170    140       5
3          913     22       3
4         2007     86       3
5          702     91       3
6         1704     16       5
7         1575     84       2
8          506     44       4
9         1375     76       2
10         275    134       4
11          92     83       4
12        1987    113       4
13         753    104       2
14        2399     53       4
15         859     24       2
16        2154     38       5
17        1113     80       2
18         590     39       4
19        1066      8       5
20        1287     94       3
21        2227    140       4
22        1140     54       4
23         354     11       4
24        1118      9       3
25        2023      6       4
26         195     27       1
27          96    114       5
28        1657     57       1
29        1171    142       4
...        ...    ...     ...
199934     326     75       3
199935    2361    148       3
199936    2244     75       4
199937    2388     91       2
199938     401    106       2
199939      85     98       1
199940    1808     24       5
199941    1218    103       3
199942    1385     60       2
199943     538    119       5
199944    2296      3       4
199945    2390     22       4
199946     921    108       4
199947     310    144       2
199948     476    141       3
199949    1397     89       5
199950     695     56       5
199951     372     61       4
199952    2200     50       4
199953     721     52       3
199954    2198     33       3
199955    1053     97       3
199956    2229    112       2
199957     165     65       5
199958     748    139       3
199959    1132     68       4
199960    2441      4       1
199961     275     19       3
199962    1741     41       3
199963    1016     73       3

[199964 rows x 3 columns]